body {
    background: #fff;
    color: var(--title-text-color);
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

.header {
    background-color: #2e2f42;
}
.conteiner {
}
.header-navigation {
}
.header-logo {
}
.logo {
}
.second-logo {
}
.header-list {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1,5;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;

}
.header-item {
}
.list {
}
.header-mail {
}
.header-tel {
}

a,
li {
    list-style-type: none;
    text-decoration: none;
}
<!------------header------------> .logotype{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #4d5ae5;
    text-transform: uppercase;
    text-decoration: none;
}

.second-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #2e2f42;
    text-transform: uppercase;
    text-decoration: none;
}

